@page "/"

<PageTitle>Home</PageTitle>

@code {
   
}
@{
	var Name = "One-Stop Web App";
}


<div class="centered-container text-center" >

	    <h1>@Name</h1>

        <p class="datetime">The website that houses all your productivity needs.</p>

		<button id="Button2" class="Button2">Get Started</button>

</div>


