.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a {
    font-family: 'Poppins', sans-serif;
    color: darkslateblue;
}

a:active, a:visited, a:link {
    text-decoration-line: underline;
    color: #006b4b;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-around;
    height: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.navbar {
    display: flex;
    justify-content: space-around; /* Distribute the logo, links, and datetime evenly */
    width: 100%;
    max-width: 1200px; /* Adjust to your desired max width */
    margin: 0 auto; /* Center the navbar */
}

.logo-container {
    flex: 1; /* Allow the logo to take as much space as possible */
}

.links-container {
    flex: 3; /* Allow the links section to take up more space */
    display: flex;
    justify-content: center; /* Center the links horizontally */
    gap: 1rem; /* Add spacing between the links */
}

.datetime-container {
    flex: 1; /* Allow the datetime section to take some space */
    display: flex;
    justify-content: flex-end; /* Align datetime to the right */
}

.logo {
    min-width: auto;
    max-width: fit-content;
}

.datetime {
    font-family: 'Poppins';
/*    position: absolute;*/
    margin-left: 3rem;
    margin-top: 0.5rem;
    font-size: medium;
    color: darkslateblue;
}

.centered-container {
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove any default margin */
   
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border-top: 1px solid #d6d5d5;
    height: 5rem;
    width: 100%;
}
